body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.section1{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: no;
}
.bio{
    width: 50%;
    padding: 4%;
}
.image{
    width: 50%;
    padding: 4%;
}
.image img{
    width: 80%;
}
.orange{
    color: orange;
}
.bio h1{
    font-size: 50px;
}
.link-button{
    color: white;
    text-decoration: none;
    background-image: linear-gradient( orange, red);
    padding: 10px 40px;
    border-radius: 5px; 
    font-weight: 700;    
}